server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    discovery:
      enabled: false

  application:
    name: ms-books-catalogue

eureka:
  client:
    enabled: false
    register-wiyh-eureka: false
    fetch-registry: false
