server:
  port: ${PORT:8080}

spring:
  application:
    name: ms-books-catalogue

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
