server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: ms-books-catalogue

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
