server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: ms-books-catalogue
