server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: ms-books-catalogue

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
